<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>

            <charset>
                utf8
            </charset>
        </encoder>
    </appender>

    <!--    <appender name="dbAppender" class="ch.qos.logback.core.jdbc.JDBCAppender">-->
    <!--        <dataSource>-->
    <!--            <driverClass>com.mysql.cj.jdbc.Driver</driverClass>-->
    <!--            <url>jdbc:mysql://localhost:3306/carsharing_log</url>-->
    <!--            <username>root</username>-->
    <!--            <password>14131103</password>-->
    <!--        </dataSource>-->
    <!--        <sql>INSERT INTO log_table (level, timestamp, message, exception) VALUES (?, ?, ?, ?)</sql>-->
    <!--        <property name="bufferSize" value="256"/>-->
    <!--    </appender>-->

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>testFile.log</file>
        ...
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <!--                <appender-ref ref="dbAppender"/>-->
    </root>

</configuration>